.home-titel_h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #dcca87;
  margin: 0;
}
.home-titel_h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 53px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  /* text-align: right; */
  color: #dcca87;
  margin: 0;
}
.home-titel_h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
}
.home-title_left {
  text-align: left;
}
.home-title_center {
  text-align: center;
}
.home-text_left {
  text-align: left;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background: black;
}

.home_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  /* text-align: right; */
  color: #aaa;
  margin: 0;
}

/* home */
.hero-home {
  max-width: 357px;
}
.hero-home-contant-wrap {
  margin-bottom: 32px;
}
.hero-home-text-title {
  max-width: 233px;
  margin-bottom: 8px;
}
.hero-home-title {
  max-width: 320px;
  margin-bottom: 32px;
}
.hero-home-text {
  font-family: var(--second-family);
  max-width: 320px;
  margin-bottom: 32px;
}
.hero-home-link {
  max-width: 158px;
  display: block;
  margin: left;
  line-height: 1;
}
.hero-home-img {
}
.hero-home-img-wrapper {
  margin: 0 auto;
  max-width: 315px;
}
.container-box {
  width: 330px;
  height: 305px;
  position: relative;
}
.box {
  position: absolute;
  display: block;
  width: 220px;
  height: 220px;
  background: #dcca87;
  z-index: 1;
}
.box.top-right {
  top: 0;
  right: 0;
}
.box.bottom-left {
  bottom: 0;
  left: 0;
}
.hero-home-img-wrapper {
  top: 8px;
  left: 8px;
  position: absolute;
  z-index: 2;
}
/* end */
/* about */
.about-home-content-wrapper {
  display: flex;
}
.about-home-img-wrapper {
  width: 66px;
}
.about-home-text-wrapper {
  padding: 22px 0;
  display: grid;
  gap: 32px;
  width: 263px;
}
.about-home-button {
  margin-left: auto;
}
/* end */

.text-right {
  text-align: right;
}
/* menu */
.home-menu-content_wrapper {
  display: grid;
  gap: 30px;
}
.home-menu_list {
  display: grid;
  gap: 20px;
}
.home-menu_link {
  display: block;
  line-height: 1;
  max-width: 200px;
  margin: 0 auto;
}

/* end */
/* gallery */
.home-gallery_list {
  display: grid;
  gap: 20px;
}
/* end */
.home-chef-content_wrapper{
    display: grid;
    gap: 20px;
}
.chef-container-box {
  height: 456px;
}
.chef-quote-wrapper{
    display: flex;
    gap: 10px;
}
.chef-text-quote{
    font-style: italic;
}